site_name: Banks

theme:
  name: material
  palette:
    primary: amber
    scheme: slate

nav:
  - Home: 'index.md'
  - Python API: 'python.md'
  - Prompt API: 'prompt.md'

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
              docstring_style: google
              show_root_heading: true
              show_root_full_path: true
              show_symbol_type_heading: true
              show_source: false
              show_signature_annotations: true
              show_bases: false

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition